<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <nav>
        <ul>
            <li><a href="#about">Me gusta demasiado la musica</a></li>
            <li><a href="#projects">Ser un buen empresario a futuro</a></li>
            <li><a href="#contact">Mis redes sociales</a></li>
        </ul>
    </nav>
</header>
</head>
<body>
    <h1>Maicol David Anaya Garcia</h1>
    <img src="./images/images.png" alt="" width="350px" height="350px">
</body>
</html>